@media screen and (min-width: 750px) {
    body.gradient {
        width: 750px !important;
        margin-left: auto;
        margin-right: auto;
    }
}



#shopify-section-template--17138696225089__image_banner {
    height: 100vh;
}