@media screen and (min-width: 750px) {
    body.gradient {
        width: 750px !important;
        margin-left: auto;
        margin-right: auto;
    }
}


.banner__media.media, .banner__content {
    height: 100vh;
}