media-gallery ul.slider {
    width: 40% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.product__info-container {
    text-align: center;
}

.product__info-container .quantity {
    margin-left: auto;
    margin-right: auto;
}