@keyframes rainbow {
    100% {
        background-position-x: 200%;
    }
}

@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

:root {
    --spacing-sections-mobile: 50px;
}

header.header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header__heading {
    position: absolute;
    width: 100%;
    top: 295px;
}

header .header__inline-menu {
    display: block;
}

header nav .header__active-menu-item {
    text-decoration: none;
}

header nav a {
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    animation: rainbow 4s linear infinite;
    border-radius: 30px;
    height: 30px;
    width: 180px;
}

span.header__active-menu-item {
    margin-left: auto;
    margin-right: auto;
}

#first_section .header__heading img {
    width: 60%;
    height: auto;
    max-width: none;
}

#first_section h2.banner__heading.h2 {
    position: absolute;
    right: 40px;
    bottom: 3%;
    height: 50px;
    top: 300px;
}

#first_section .banner__media.media,
#first_section .banner__content {
    height: 100vh;
}

#first_section h2.banner__heading.h2 span {
    transform: rotate(-90deg);
    left: -23px;
    top: -31px;
    position: absolute;
    word-break: normal;
    left: -25px;
    top: -42px;
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation: rainbow 4s linear infinite;
}

#first_section .banner__heading.h2::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 30px;
    background: linear-gradient(to bottom, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    animation: pathmove 1.4s ease-in-out infinite;
}


/**richtext**/
.rich-text {
    padding-top: 0 !important
}

.rich-text__text p a {
    pointer-events: none;
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation: rainbow 4s linear infinite;
}

.rich-text__text.rte {
    line-height: 12px;
}

.rich-text__text.rte em {
    opacity: 0;
}

/**shisha-img banner**/
.shisha-img .banner__media.media {
    width: 75%;
    background-color: #1a1a1a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    height: 22rem !important;
}

.shisha-img .banner__media img {
    width: 100%;
    height: auto !important;
    position: absolute;
}

/**********************/


/**shisha-detail img sections**/
.shisha-detail .banner__media.media {
    width: 30%;
    height: 10rem !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    background-color: #1a1a1a;
}

.shisha-detail .banner__media img {
    width: 80% !important;
    height: auto !important;
    position: absolute;
}

/**************************/


/**shisha-detail rich-text sections**/
.shisha_detail_text {
    margin-top: -50px;
}

/*************************/



/**shisha-slideshow sections**/
slideshow-component.shisha_slideshow img {
    position: static !important;
}

slideshow-component.shisha_slideshow .slideshow__text-wrapper {
    display: none;
}

slideshow-component.shisha_slideshow .slideshow__controls {
    display: none;
}

/*************************/


/**shisha-featured-collection sections**/
.shisha_featured_collection .collection__title h2 {
    text-align: center;
}

.shisha_featured_collection slider-component ul {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.shisha_featured_collection slider-component ul li {
    width: 20% !important;
    margin-left: 8%;
}

.shisha_featured_collection .quick-add.no-js-hidden {
    display: none;
}
/***************************************/

@media screen and (min-width: 750px) {
    body.gradient {
        width: 750px !important;
        margin-left: auto;
        margin-right: auto;
    }

    header.header {
        width: 750px;
    }

    .header__heading {
        text-align: center;
        width: 750px;
    }

    .header__heading img {
        width: 40%;
    }

    #first_section h2.banner__heading.h2 {
        right: -90px;
        top: 0px;
    }

    #first_section h2.banner__heading.h2 span {
        left: -30px;
        top: -51px;
    }
}